<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483662825708-0p8104h34tbcq5mfdmrbf5bcpdu8kgms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483662825708-0p8104h34tbcq5mfdmrbf5bcpdu8kgms</string>
	<key>API_KEY</key>
	<string>AIzaSyCjIlO8cJu5R2mqUtxlkUubRZmCtNrcB5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>483662825708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingListApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-shopping-list-8ada1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shopping-list-8ada1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483662825708:ios:e36db4bd1e95027fa53dc9</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-shopping-list-8ada1-default-rtdb.firebaseio.com</string>
</dict>
</plist>